body {
    background-color:gray;
}

.whole-page {
    max-width: 800px;
    margin: auto;
}

.header {
    background-color: rgb(78, 78, 155);
}

.side-bar {
    background-color: rgb(39, 181, 224);
    padding: 20px;
    margin-left: 10px;
}

.main-info {
    background-color:rgb(60, 125, 193);
}

.footer {
    background-color: rgb(72, 93, 133);
}

.middle-content {
    display: flex;
    flex-direction: row-reverse;
}