body {
    background-color: antiquewhite;
}

.header {
    max-width: 600px;
    margin: auto;
    background-color:green;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.main-content {
    display: flex;
    background-color: antiquewhite;
    margin: auto;
    justify-content: 20px;
}

.main {
    max-width: 600px;
    padding: 20px;
    background-color: blue;
}

.side-nav {
    max-width: 600px;
    padding: 20px;
    background-color: blueviolet;
    margin-right: 20px;
}