body {
    margin: 0;
    background-color: lightgray;
}

.header {
    margin: auto;
    background-color:green;
}

.page-content {
    max-width: 600px;
    margin: auto;

}

.main {
    background-color: blue;
}

.side-nav {
    background-color: blueviolet;
    margin-right: 10px;
    padding: 20px;
}

.middle {
    display: flex;
}